<html>
    <head>
        <title>{{ title }} - List of Orders</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>List of Orders</h1>
        {% for order in list_of_orders %}
        <div>
            <p>{{ order.order_date }}<br>
                <a href="/orders/{{list_of_orders.index(order)}}">{{ order.customer_name }}:</a> {{ order.quantity }} {{ order.pizza_name }} <br>Extra topping: {{ order.extra_toppings}} 
            </p>
                
        </div>
        {% endfor %}
        <footer>
            <section>
                <h2>Super Fake Pizza Shop</h2>
            </section>
        </footer>    
    </body>
</html>